<import src="../../templates/copyright.wxml" />
<import src="../../templates/login-popup.wxml" />

<ui-sys tabbar>
    <ui-navbar back="{{false}}" bg="ui-BG-Main">
    </ui-navbar>
    <!-- 用户信息 -->
    <view class="userinfo ui-BG-Main">
    </view>

    <view class="info_box ui-BG-card ui-BG">

        <view class="info_avatar" data-url="/pages/userinfo/userinfo" bindtap="tapToUrl">
            <image mode="aspectFill" src="{{userInfo.avatarUrl?userInfo.avatarUrl:defaultAvatarUrl}}" />
        </view>
        <view class="info_data">
            <view class="info_user">
                <view class="info_name ui-TC" bindtap="{{openid !='' ? '' : 'openLoginPopup'}}"> {{openid !='' ? userInfo.nickName : '点此登录'}}</view>
                <text class="info_lv ui-BG-Main radius">Lv{{openid !='' ? userLevel.level : ''}}</text>
                <view class="info_scan">

                </view>

            </view>
            <view class="info_uid">{{openid !='' ? userLevel.levelName : '登录后查看角色'}}
                <view class="info_right">
                    <text class="exit cicon-close-round-o" catchtap="exit"> {{openid !='' ? '退出登录' : '清除缓存'}} </text>
                </view>
            </view>

        </view>
    </view>
    <!-- 浏览记录 -->
    <view class="  ui-BG-card ui-BG">
        <ui-title title="我的记录" depth="3">
            <text slot="icon" class="ui-TC-Main cicon-slack-square" />
        </ui-title>

        <view class="ui-grid ui-cols-3  ">
            <block wx:key="id" wx:for="{{list}}">
                <navigator class="ui-item " url="{{item.path}}">
                    <view><text class="{{item.icon}} text-xxl m-2" style="color:{{item.color}}"></text></view>
                    <text class="ui-TC text-df">{{item.name}}</text>
                </navigator>
            </block>
        </view>
    </view>
    <!-- 服务列表 -->
    <view class="ui-BG-card ui-BG">

        <ui-menu ui=" radius">

            <ui-menu-item arrow title="关于" icon="cicon-service-fill" isAction data-url="/pages/about/about" bindtap="tapToUrl">
            </ui-menu-item>

            <ui-menu-item arrow title="微信公众号" icon="cicon-weixin" isAction data-value="{{wechat}}" bindtap="tapCopy">

                <text slot="action" class="text-sm ui-TC-3 m-1">{{wechat}}</text>
            </ui-menu-item>

            <view style="position: relative;">
                <ui-menu-item arrow title="在线客服" icon="cicon-service" data-url="/pages/about/about" bindtap="tapToUrl" /> <button class="ui-btn kefubtn  " open-type="contact"></button>
            </view>
            <view style="position: relative;">
                <ui-menu-item arrow title="意见反馈" icon="cicon-creative" data-url="/pages/about/about" bindtap="tapToUrl" /> <button class="ui-btn kefubtn  " open-type="feedback"></button>
            </view>

            <ui-menu-item arrow title="一键换肤" icon="cicon-clothes" data-url="/pages/theme/theme" bindtap="tapToUrl" />
        </ui-menu>
    </view>

    <!-- 登录框 -->
    <template is="login-popup" data="{{show: isLoginPopup, userInfo: userInfo}}"></template>
  <!-- 版权信息 -->
    <view class="copyright">
        <template is="tempCopyright" data="{{webSiteName:webSiteName,domain:domain}}" />
    </view>
</ui-sys>